# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>"Photography Website"</title>
		<meta charset="utf-8">
	</head>
	<p>"Victorino Palacio Photography"</p>
	<body>
		"Weddings, Events, Portraits,"
	</body>
	<h1>"Hello Audience"</h1>
	<h3>"Enjoy viewing"</h3>
	<footer></footer>
	<main></main>
	<img></img>
	<a href="Dog.html">Shibainu</a>
	<a href="https://flickr.com/photos/75522409@N03/18366082231/in/album-72157653859432441/">J1</a>	
</html>